{% extends 'base.html.twig' %}


{% block content %}
<section class="container my-3">
    <h1>Toutes les images</h1>

    <div id="all-pictures">

    </div>
</section>

    {% block page_contents %}{% endblock %}
{% endblock %}